.course-schedule {
  display: flex;
  width: 100%;
  background-color: #f9f6e7;
  color: #00567e;
}

.schedule-header {
  color: #e73c3e;
  padding: 40px 0;
  font-size: 50px;
}

.top-content-container {
  width: 65%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  .top-content-section {
    width: 40%;
    padding: 20px 0;
    .top-content-day {
      color: $secondary;
    }
  }
}

.today-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.schedule-header,
.schedule-table {
  width: 90%;
  .today-date:hover {
    cursor: pointer;
  }
}

.sidebar {
  width: 18%;
  padding: 20px 30px;
  border-right: 1px solid lightgray;
}

.sidebar-courseweeks,
.sidebar-modules {
  padding: 30px 0;
  position: sticky;
  top: 40px;
  flex-wrap: nowrap;
  overflow-y: auto;
  height: 90vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-courseweeks::-webkit-scrollbar {
  display: none;
}

.nav-link {
  color: #00567e;
}

.sidebar-subheading {
  padding: 20px 0 10px;
}

.current-wk-indicator {
  font-size: 10px;
  padding-left: 10px;
  color: $primary;
  svg {
    font-size: 10px;
  }
}

.content {
  width: 82%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-list {
  width: 60%;
}

.day-header {
  padding: 20px 0;
}

tr,
td,
th {
  color: #00567e;
  text-decoration: none;
}

a,
a:hover {
  color: #00567e;
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
}

ul {
  padding: 0;
}

.day-section {
  padding-bottom: 10px;
}

.day-class {
  padding: 30px 0;
  border-bottom: 1px solid #af231c;
}
.table-date {
  cursor: pointer;
}

.table-heading {
  padding-bottom: 10px;
}

.nav.nav-tabs .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-right: 5px;
  width: 100px;
  height: 60px;
  background-color: #af231c;
  color: #f9f6e7;
  font-size: 100%;
  a {
    text-align: center;
    color: $body-bg;
  }
}

.nav.nav-tabs .nav-link.active {
  background-color: #e73c3e;
}

.mb-3 {
  width: 80%;
  border-bottom: 1px solid #af231c;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 100%;
  a {
    color: $body-bg;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
  }
  a:hover {
    cursor: pointer;
  }

  img {
    width: 150px;
  }
  .navbar-brand {
    margin-right: 50px;
  }
}
.nav.nav-pills .nav-link.active {
  background-color: #00567e;
  color: #f9f6e7;
}

.table-projects h5 {
  font-size: 16px;
  color: #e73c3e;
}

.table-date {
  width: 130px;
}
.no-class-date {
  font-size: 14px;
  font-weight: 300;
  padding-left: 50px;
  color: black;
}
.tab-content {
  width: 100%;
}
