// scss-docs-start import-stack
// Configuration

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// =====================================
// =====================================
// =====================================
// =====================================
// =====================================
// =====================================
//
//    Import RA specific variable file.
//    This has to happen before the rest
//    of bootstrap is imported and compiled
@import "variables";

// =====================================
// =====================================
// =====================================
// =====================================
// =====================================
// =====================================

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

.date-picker {
  height: 100%;
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-form-container {
  width: 60%;
  padding: 50px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.datashift-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-shift {
  overflow: auto;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
}

.data-container {
  width: 100%;
  height: 70vh;
}

.course-day {
  padding: 20px;
  background-color: $blue;
  color: $body-bg;
  margin-bottom: 10px;
}

.course-day-header {
  font-weight: 800;
}

.course-day-type {
  font-weight: 600;
  text-decoration: underline;
}

.class-items {
  width: 80%;
}

.class-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  height: 20px;
  button {
    border: none;
    background-color: transparent;
    color: $secondary;
    height: 18px;
  }

  button:hover {
    color: $blue;
    height: 18px;
  }
}

.class-item:hover {
  cursor: pointer;
  background-color: $body-bg;
  color: $secondary;
  width: 100%;
  border-radius: 10px;
  padding: 0 20px 0 50px;
  height: 20px;
}

.section-class {
  margin: 5px;
  display: flex;
  border: 1px solid $blue;
  border-radius: 10px;
  padding: 10px;
  .class-title {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-class:hover {
  cursor: pointer;
  background-color: $secondary;
  border-radius: 10px;
}

.section-class-header {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border: none;
    background-color: transparent;
    color: $body-bg;
    height: 18px;
  }

  button:hover {
    color: $blue;
    height: 18px;
  }
}

.datashift-button-container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
