.date-picker {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $blue;
}

.input-form-container {
  padding: 30px 30px 5px;
  border-bottom: 1px solid $blue;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 25px;
  .input-fields {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .basics-days {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .input {
    width: 30%;
  }
}

.submit-button-container {
  margin: 17px 0;
  display: flex;
  justify-content: space-around;
  .btn {
    width: 20%;
    color: $body-bg;
  }
}

.datashift-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-shift {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  border-left: 1px solid lightgray;
}

.data-container {
  width: 100%;
}

.accordion-container {
  padding: 0 30px;
}

.download-button-container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    margin: 20px;
    color: $body-bg;
  }
}

.batchfile-edit-container {
  padding: 0 30px 40px;
  display: flex;
  justify-content: space-around;
  .batch-update {
    color: white;
  }
}

.accordion-body {
  background-color: $blue;
  padding: 0;
}
.accordion-button {
  font-size: 13px;
  padding: 1px 30px 1px 10px;
  background-color: $secondary;
  color: $body-bg;
}

.accordion-button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F9F6E7'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  background-color: $primary;
  color: $body-bg;
}

.accordion-button.collapsed {
  color: $body-bg;
  font-size: 13px;
  padding: 1px 30px 1px 10px;
}

.course-day {
  padding: 2px;
  background-color: $blue;
  color: $body-bg;
  .course-day-header {
    font-weight: 800;
  }
  .accordion-button {
    font-size: 13px;
    padding: 1px 30px 1px 10px;
    background-color: $blue;
    color: $body-bg;
  }
}

.course-day-symbol {
  position: absolute;
  z-index: 500;
  color: $body-bg;
  svg {
    padding-bottom: 8px;
    padding-left: 10px;
  }
}

.course-day-header {
  width: 100%;
  padding-left: 40px;
}
.course-day-type {
  font-weight: 600;
  text-decoration: underline;
}

.class-items {
  width: 80%;
}

.class-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: $body-bg;
  color: $secondary;
  border-radius: 5px;
  padding: 0 20px 0 50px;
  margin: 1px 0;
  width: 100%;
  height: 14px;
  font-size: 12px;
  .trash-can,
  .select {
    svg {
      height: 14px;
    }
  }
  button {
    border: none;
    background-color: transparent;
    color: $secondary;
  }

  button:hover {
    color: $blue;
    height: 18px;
  }
}

.all-classes {
  background-color: $body-bg;
  color: $blue;
  padding: 0.5px 0;
}

.section-class {
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $secondary;
  color: $body-bg;
  border-radius: 5px;
  .class-title {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
}

.section-class-header {
  width: 15%;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border: none;
    background-color: transparent;
    color: $body-bg;
    height: 18px;
  }

  button:hover {
    color: $blue;
    height: 18px;
  }
}

.all-courses-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding: 40px;
  position: sticky;
  top: 40px;
  h4 {
    color: $blue;
    padding-bottom: 10px;
  }
  .mb-3 {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .error-message {
    font-size: 12px;
    color: $primary;
    height: 12px;
  }
}

.close-all-container {
  width: 100%;
  text-align: end;
  padding-bottom: 5px;
  button {
    color: $body-bg;
  }
}
