#root,
html,
body,
.App {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9f6e7;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-picker {
  height: 100%;
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-form-container {
  width: 80%;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-shift {
  overflow: auto;
  height: 750px;
}

.course-day {
  padding: 20px;
  background-color: lightgray;
}

.course-day-header {
  font-weight: 800;
}

.course-day-type {
  font-weight: 600;
  text-decoration: underline;
}

button {
  border: none;
  background-color: transparent;
  padding: 2px;
}

button:hover {
  background-color: turquoise;
  border-radius: 5px;
}

.class-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  padding-right: 50px;
  padding-left: 50px;
  height: 50px;
}

.class-item:hover {
  cursor: pointer;
  background-color: lightblue;
  border-radius: 10px;
}

.section-class {
  padding: 10px;
}
.section-class:hover {
  cursor: pointer;
  background-color: lightcyan;
  padding: 10px;
  border-radius: 10px;
}

.section-class-header {
  padding-right: 30px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datashift-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
